<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>猎空者</string>
		<key>heroIcon</key>
		<string>icon0</string>
		<key>picture</key>
		<string>hero0.jpg</string>
		<key>role</key>
		<string>定位：突击</string>
		<key>realName</key>
		<string>全称：莉娜·奥克斯顿， 年龄：26岁</string>
		<key>occupation</key>
		<string>职业：冒险家</string>
		<key>baseOfOperations</key>
		<string>行动基地：英国，伦敦</string>
		<key>affiliation</key>
		<string>隶属：（前）守望先锋成员</string>
	</dict>
	<dict>
		<key>name</key>
		<string>死神</string>
		<key>heroIcon</key>
		<string>icon1</string>
		<key>picture</key>
		<string>hero1.jpg</string>
		<key>role</key>
		<string>定位：突击</string>
		<key>realName</key>
		<string>全称：不明，年龄: 不明</string>
		<key>occupation</key>
		<string>职业：雇佣兵</string>
		<key>baseOfOperations</key>
		<string>行动基地：不明</string>
		<key>affiliation</key>
		<string>隶属：不明</string>
	</dict>
	<dict>
		<key>name</key>
		<string>麦可雷</string>
		<key>heroIcon</key>
		<string>icon2</string>
		<key>picture</key>
		<string>hero2.jpg</string>
		<key>role</key>
		<string>定位：突击</string>
		<key>realName</key>
		<string>全称：杰西·麦克雷，年龄：37岁</string>
		<key>occupation</key>
		<string>职业：赏金猎人</string>
		<key>baseOfOperations</key>
		<string>行动基地：美国新墨西哥州，圣达菲</string>
		<key>affiliation</key>
		<string>隶属：（前）守望先锋成员
（前）守望先锋成员
</string>
	</dict>
	<dict>
		<key>name</key>
		<string>法老之鹰</string>
		<key>heroIcon</key>
		<string>icon3</string>
		<key>picture</key>
		<string>hero3.jpg</string>
		<key>role</key>
		<string>定位：突击</string>
		<key>realName</key>
		<string>全称：法芮尔·艾玛莉，年龄：32岁</string>
		<key>occupation</key>
		<string>职业：首席安全官</string>
		<key>baseOfOperations</key>
		<string>行动基地：埃及，吉萨</string>
		<key>affiliation</key>
		<string>隶属：海力士国际安保公司</string>
	</dict>
	<dict>
		<key>name</key>
		<string>76号</string>
		<key>heroIcon</key>
		<string>icon4</string>
		<key>picture</key>
		<string>hero4.jpg</string>
		<key>role</key>
		<string>定位：突击</string>
		<key>realName</key>
		<string>全称：未知，年龄：49岁</string>
		<key>occupation</key>
		<string>职业：未知</string>
		<key>baseOfOperations</key>
		<string>行动基地：未知</string>
		<key>affiliation</key>
		<string>隶属：（前）守望先锋成员</string>
	</dict>
	<dict>
		<key>name</key>
		<string>温斯顿</string>
		<key>heroIcon</key>
		<string>icon5</string>
		<key>picture</key>
		<string>hero5.jpg</string>
		<key>role</key>
		<string>定位：重装</string>
		<key>realName</key>
		<string>全称：温斯顿，年龄：29岁</string>
		<key>occupation</key>
		<string>职业：科学家</string>
		<key>baseOfOperations</key>
		<string>行动基地：（前）“地平线”月球殖民地</string>
		<key>affiliation</key>
		<string>隶属：（前）守望先锋成员</string>
	</dict>
	<dict>
		<key>name</key>
		<string>查莉娅</string>
		<key>heroIcon</key>
		<string>icon6</string>
		<key>picture</key>
		<string>hero6.jpg</string>
		<key>role</key>
		<string>定位：重装</string>
		<key>realName</key>
		<string>全称：亚历山德拉·查莉娅诺娃，年龄：28岁</string>
		<key>occupation</key>
		<string>职业：士兵</string>
		<key>baseOfOperations</key>
		<string>行动基地：俄罗斯，克拉斯诺亚尔斯克前线</string>
		<key>affiliation</key>
		<string>隶属：俄罗斯防御部队</string>
	</dict>
	<dict>
		<key>name</key>
		<string>莱因哈特</string>
		<key>heroIcon</key>
		<string>icon7</string>
		<key>picture</key>
		<string>hero7.jpg</string>
		<key>role</key>
		<string>定位：重装</string>
		<key>realName</key>
		<string>全称：莱因哈特·威尔海姆，年龄：61岁</string>
		<key>occupation</key>
		<string>职业：冒险家</string>
		<key>baseOfOperations</key>
		<string>行动基地：德国，斯图加特</string>
		<key>affiliation</key>
		<string>隶属：（前）守望先锋成员</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天使</string>
		<key>heroIcon</key>
		<string>icon8</string>
		<key>picture</key>
		<string>hero8.jpg</string>
		<key>role</key>
		<string>定位：支援</string>
		<key>realName</key>
		<string>全称：安吉拉·齐格勒，年龄：34岁</string>
		<key>occupation</key>
		<string>职业：战地医师</string>
		<key>baseOfOperations</key>
		<string>行动基地：瑞士，苏黎世</string>
		<key>affiliation</key>
		<string>隶属：（前）守望先锋成员</string>
	</dict>
	<dict>
		<key>name</key>
		<string>秩序之光</string>
		<key>heroIcon</key>
		<string>icon9</string>
		<key>picture</key>
		<string>hero9.jpg</string>
		<key>role</key>
		<string>定位：支援</string>
		<key>realName</key>
		<string>全称：塞特娅·法斯瓦尼，年龄：28岁</string>
		<key>occupation</key>
		<string>职业：光子架构师</string>
		<key>baseOfOperations</key>
		<string>行动基地：印度，乌托邦</string>
		<key>affiliation</key>
		<string>隶属：费斯卡集团</string>
	</dict>
	<dict>
		<key>name</key>
		<string>禅雅塔</string>
		<key>heroIcon</key>
		<string>icon10</string>
		<key>picture</key>
		<string>hero10.jpg</string>
		<key>role</key>
		<string>定位：支援</string>
		<key>realName</key>
		<string>全称：泰哈撒·禅雅塔，年龄：20岁</string>
		<key>occupation</key>
		<string>职业：流浪僧侣</string>
		<key>baseOfOperations</key>
		<string>行动基地：尼泊尔，香巴里僧院（前）</string>
		<key>affiliation</key>
		<string>隶属：（前）香巴里僧人</string>
	</dict>
	<dict>
		<key>name</key>
		<string>卢西奥</string>
		<key>heroIcon</key>
		<string>icon11</string>
		<key>picture</key>
		<string>hero11.jpg</string>
		<key>role</key>
		<string>定位：支援</string>
		<key>realName</key>
		<string>全称：卢西奥•科雷亚•多斯桑托斯， 年龄： 26</string>
		<key>occupation</key>
		<string>职业：国际DJ</string>
		<key>baseOfOperations</key>
		<string>行动基地：巴西，里约热内卢</string>
		<key>affiliation</key>
		<string>隶属：无</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑寡妇</string>
		<key>heroIcon</key>
		<string>icon12</string>
		<key>picture</key>
		<string>hero12.jpg</string>
		<key>role</key>
		<string>定位：防御</string>
		<key>realName</key>
		<string>全称：艾米丽·拉克瓦，年龄：33岁</string>
		<key>occupation</key>
		<string>职业：刺客</string>
		<key>baseOfOperations</key>
		<string>行动基地：法国，安纳西</string>
		<key>affiliation</key>
		<string>隶属：黑爪</string>
	</dict>
	<dict>
		<key>name</key>
		<string>半藏</string>
		<key>heroIcon</key>
		<string>icon13</string>
		<key>picture</key>
		<string>hero13.jpg</string>
		<key>role</key>
		<string>定位：防御</string>
		<key>realName</key>
		<string>全称：岛田半藏，年龄：38岁</string>
		<key>occupation</key>
		<string>职业：雇佣兵</string>
		<key>baseOfOperations</key>
		<string>行动基地：日本，花村（前）</string>
		<key>affiliation</key>
		<string>隶属：岛田组</string>
	</dict>
	<dict>
		<key>name</key>
		<string>托比昂</string>
		<key>heroIcon</key>
		<string>icon14</string>
		<key>picture</key>
		<string>hero14.jpg</string>
		<key>role</key>
		<string>定位：防御</string>
		<key>realName</key>
		<string>全称：托比昂·林德霍姆，年龄：57岁</string>
		<key>occupation</key>
		<string>职业：武器设计师</string>
		<key>baseOfOperations</key>
		<string>行动基地：瑞典，哥德堡</string>
		<key>affiliation</key>
		<string>隶属：（前）守望先锋成员</string>
	</dict>
	<dict>
		<key>name</key>
		<string>堡垒</string>
		<key>heroIcon</key>
		<string>icon15</string>
		<key>picture</key>
		<string>hero15.jpg</string>
		<key>role</key>
		<string>定位：防御</string>
		<key>realName</key>
		<string>全称：实验型攻城机兵E54“堡垒”，年龄：30</string>
		<key>occupation</key>
		<string>职业：全自动战斗机器人</string>
		<key>baseOfOperations</key>
		<string>行动基地：不明</string>
		<key>affiliation</key>
		<string>隶属：无</string>
	</dict>
</array>
</plist>
