<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>脉冲双枪</string>
			<key>icon</key>
			<string>tracerAbilitiesIcon0.png</string>
			<key>picture</key>
			<string>tracerPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Tracer/video-ability.2rJ9q.mp4</string>
			<key>describe</key>
			<string>“猎空者”用两把手枪向敌人快速射击。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>闪现</string>
			<key>icon</key>
			<string>tracerAbilitiesIcon1.png</string>
			<key>picture</key>
			<string>tracerPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Tracer/video-ability.4OrvS.mp4</string>
			<key>describe</key>
			<string>“猎空者”可以快速穿越空间，在数码之外重新出现。闪现技能可以最多叠加三次，每隔几秒可以叠加一次。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>闪回</string>
			<key>icon</key>
			<string>tracerAbilitiesIcon2.png</string>
			<key>picture</key>
			<string>tracerPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Tracer/video-ability.0giXy.mp4</string>
			<key>describe</key>
			<string>“猎空者”可以倒回时间，她的生命值、弹药和所处位置都会回到几秒前的状态。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>脉冲炸弹</string>
			<key>icon</key>
			<string>tracerAbilitiesIcon3.png</string>
			<key>picture</key>
			<string>tracerPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Tracer/video-ability.0mq5q.mp4</string>
			<key>describe</key>
			<string>“猎空者”扔出一枚可以附着在任何表面或倒霉蛋身上的大炸弹。几秒后，炸弹会爆炸对范围内所有敌人造成大量伤害。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>地狱火霰弹枪</string>
			<key>icon</key>
			<string>reaperAbilitiesIcon0.png</string>
			<key>picture</key>
			<string>reaperPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Reaper/video-ability.0HVA8.mp4</string>
			<key>describe</key>
			<string>“死神”用两把霰弹枪消灭敌人。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>幽灵形态</string>
			<key>icon</key>
			<string>reaperAbilitiesIcon1.png</string>
			<key>picture</key>
			<string>reaperPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Reaper/video-ability.29J84.mp4</string>
			<key>describe</key>
			<string>“死神”可以撕裂自己的物质形态，在一段时间内变成灵态。在幽灵形态下，不会受到任何伤害还可以穿越敌人，但无法开火或使用其他技能。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>暗影步</string>
			<key>icon</key>
			<string>reaperAbilitiesIcon2.png</string>
			<key>picture</key>
			<string>reaperPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Reaper/video-ability.4caOH.mp4</string>
			<key>describe</key>
			<string>确认目标位置后，“死神”消失并立即出现在目标位置。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>死亡绽放</string>
			<key>icon</key>
			<string>reaperAbilitiesIcon3.png</string>
			<key>picture</key>
			<string>reaperPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Reaper/video-ability.4F0n7.mp4</string>
			<key>describe</key>
			<string>“死神”变得难以捉摸，以极快的速度向附近所有敌人倾泻弹药，造成巨大伤害。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>维和者 </string>
			<key>icon</key>
			<string>mccreeAbilities0.png</string>
			<key>picture</key>
			<string>mccreePicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/McCree/video-ability.2V9iH.mp4</string>
			<key>describe</key>
			<string>麦克雷手中的六发左轮手枪是他的主要武器。他可以迅速扣下扳机，打光所有子弹。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>战术翻滚</string>
			<key>icon</key>
			<string>mccreeAbilities1.png</string>
			<key>picture</key>
			<string>mccreePicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/McCree/video-ability.3ul7o.mp4</string>
			<key>describe</key>
			<string>麦克雷向移动方向翻滚的同时，利索地重新装填“维和者”的子弹。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>闪光弹</string>
			<key>icon</key>
			<string>mccreeAbilities2.png</string>
			<key>picture</key>
			<string>mccreePicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/McCree/video-ability.1LBrS.mp4</string>
			<key>describe</key>
			<string>麦克雷扔出一枚会在数秒后迅速爆炸的闪光弹。爆炸会使小范围内的敌人目眩。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>神枪手</string>
			<key>icon</key>
			<string>mccreeAbilities3.png</string>
			<key>picture</key>
			<string>mccreePicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/McCree/video-ability.3icbT.mp4</string>
			<key>describe</key>
			<string>专注、瞄准、拔枪。麦克雷只需花费宝贵的数秒时间就可以锁定敌人；当麦克雷准备就绪后，他会向视线范围内的每个敌人射出子弹。敌人越虚弱，瞄准速度就越快。
</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>火箭发射器</string>
			<key>icon</key>
			<string>pharahAbilitiesIcon0.png</string>
			<key>picture</key>
			<string>pharahPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Pharah/video-ability.4XMom.mp4</string>
			<key>describe</key>
			<string>“法老之鹰”的主要武器可以射出火箭弹对大范围内的敌人造成巨大伤害。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>推进背包</string>
			<key>icon</key>
			<string>pharahAbilitiesIcon1.png</string>
			<key>picture</key>
			<string>pharahPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Pharah/video-ability.2a9CR.mp4</string>
			<key>describe</key>
			<string>启动作战服背后的推进器后，“法老之鹰”可以蹿升至高空。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>震荡冲击</string>
			<key>icon</key>
			<string>pharahAbilitiesIcon2.png</string>
			<key>picture</key>
			<string>pharahPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Pharah/video-ability.26fVs.mp4</string>
			<key>describe</key>
			<string>“法老之鹰”从手腕射出一枚火箭弹，击退爆炸范围内的任何敌人，对护盾和屏障造成巨大伤害。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>火箭弹幕</string>
			<key>icon</key>
			<string>pharahAbilitiesIcon3.png</string>
			<key>picture</key>
			<string>pharahPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Pharah/video-ability.06O6n.mp4</string>
			<key>describe</key>
			<string>“法老之鹰”迅速启动涡轮推进器，飞到空中持续射出微型火箭弹。发射时，可以引导弹幕攻击大群敌人。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>重型脉冲步枪</string>
			<key>icon</key>
			<string>soldierAbilities0.png</string>
			<key>picture</key>
			<string>soldierPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/soldier76/video-ability.48ks0.mp4</string>
			<key>describe</key>
			<string>“76号”的步枪在进行全自动脉冲射击的同时还可以保持极限稳定。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>螺旋飞弹</string>
			<key>icon</key>
			<string>soldierAbilities1.png</string>
			<key>picture</key>
			<string>soldierPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/soldier76/video-ability.3mJyh.mp4</string>
			<key>describe</key>
			<string>微型火箭从“76号”的脉冲步枪中以螺旋方式同时射出。火箭可以对小范围内的敌人造成爆炸伤害。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>疾跑</string>
			<key>icon</key>
			<string>soldierAbilities2.png</string>
			<key>picture</key>
			<string>soldierPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/soldier76/video-ability.2bIjk.mp4</string>
			<key>describe</key>
			<string>“76号”可以在短时间内快速冲刺，借此躲避火力或是冲向敌阵。采取任何其他动作都会令疾跑终止。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>生物力场</string>
			<key>icon</key>
			<string>soldierAbilities3.png</string>
			<key>picture</key>
			<string>soldierPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/soldier76/video-ability.16d3w.mp4</string>
			<key>describe</key>
			<string>“76号”在地上放置一个生物发射器。其能量可以治疗“76号”和附近的队友。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>战术目镜</string>
			<key>icon</key>
			<string>soldierAbilities4.png</string>
			<key>picture</key>
			<string>soldierPicture4.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/soldier76/video-ability.1B8Hz.mp4</string>
			<key>describe</key>
			<string>“76号”精准的目标锁定目镜可以将准星锁定在最近的敌对目标身上。如果敌人离开视野，“76号”可以快速锁定下一个目标。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>特斯拉炮</string>
			<key>icon</key>
			<string>winstonAbilities0.png</string>
			<key>picture</key>
			<string>winstonPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Winston/video-ability.2BE9W.mp4</string>
			<key>describe</key>
			<string>温斯顿只要扣下扳机，就可以持续射出短距离电流</string>
		</dict>
		<dict>
			<key>name</key>
			<string>喷射背包</string>
			<key>icon</key>
			<string>winstonAbilities1.png</string>
			<key>picture</key>
			<string>winstonPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Winston/video-ability.1Vyl5.mp4</string>
			<key>describe</key>
			<string>通过启动能量背包，温斯顿可以飞到空中并在落地后对附近敌人造成伤害，使其昏迷。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>屏障发射器</string>
			<key>icon</key>
			<string>winstonAbilities2.png</string>
			<key>picture</key>
			<string>winstonPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Winston/video-ability.0ZqlP.mp4</string>
			<key>describe</key>
			<string>温斯顿的屏障发射器可以生成一个气泡状力场，吸收伤害直到被摧毁。保护范围内的队友可以向外还击。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>原始暴怒</string>
			<key>icon</key>
			<string>winstonAbilities3.png</string>
			<key>picture</key>
			<string>winstonPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Winston/video-ability.2U4Cs.mp4</string>
			<key>describe</key>
			<string>温斯顿彻底释放内心的兽性，大幅提高生命值变得难以被杀死，同时强化他的近战攻击，使他可以更频繁地使用喷射背包。在暴怒状态下，温斯顿只能进行近战攻击和使用喷射背包技能。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>粒子炮</string>
			<key>icon</key>
			<string>zaryaAbilites0.png</string>
			<key>picture</key>
			<string>zaryaPivture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/zenya/video-ability.2lhgC.mp4</string>
			<key>describe</key>
			<string>查莉娅强大的粒子炮可以释放出毁灭性的的短距离能量光束，还可以射出爆炸粒子攻击多个敌人。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>粒子屏障</string>
			<key>icon</key>
			<string>zaryaAbilites1.png</string>
			<key>picture</key>
			<string>zaryaPivture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/zenya/video-ability.3YX0z.mp4</string>
			<key>describe</key>
			<string>粒子炮可以投射出个人屏障保护查莉娅抵挡攻击，同时还可以将这些攻击能量重新导向至她的武器，提高伤害和光束宽度。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>投射屏障</string>
			<key>icon</key>
			<string>zaryaAbilites2.png</string>
			<key>picture</key>
			<string>zaryaPivture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/zenya/video-ability.0QjhW.mp4</string>
			<key>describe</key>
			<string>查莉娅可以用能量屏障保护一名队友，吸收伤害的同时强化粒子炮的威力。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>重力喷涌</string>
			<key>icon</key>
			<string>zaryaAbilites3.png</string>
			<key>picture</key>
			<string>zaryaPivture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/zenya/video-ability.2qTtx.mp4</string>
			<key>describe</key>
			<string>查莉娅扔出一枚重力弹，牵引敌对战斗单位并在其受困时造成伤害。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>火箭重锤</string>
			<key>icon</key>
			<string>reinhardtAbilities0.png</string>
			<key>picture</key>
			<string>reinhardtPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Reinhardt/video-ability.101RL.mp4</string>
			<key>describe</key>
			<string>莱因哈特的火箭重锤是一把无坚不摧的近战武器，兼具超大的攻击范围和势大力沉的攻击威力。
</string>
		</dict>
		<dict>
			<key>name</key>
			<string>能量盾</string>
			<key>icon</key>
			<string>reinhardtAbilities1.png</string>
			<key>picture</key>
			<string>reinhardtPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Reinhardt/video-ability.1KBcC.mp4</string>
			<key>describe</key>
			<string>莱因哈特可以生成一面大型能量护盾，在被摧毁之前可以吸收可观的伤害。尽管莱因哈特可以使用这块护盾保护自己和队友，但在能量盾持续期间，他无法进行攻击。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>冲锋</string>
			<key>icon</key>
			<string>reinhardtAbilities2.png</string>
			<key>picture</key>
			<string>reinhardtPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Reinhardt/video-ability.1Tvns.mp4</string>
			<key>describe</key>
			<string>莱因哈特向前方一条直线快速冲锋，并抓住被击中的敌人。如果敌人被击到墙面，则将受到巨额伤害。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>烈焰打击</string>
			<key>icon</key>
			<string>reinhardtAbilities3.png</string>
			<key>picture</key>
			<string>reinhardtPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Reinhardt/video-ability.1zv7c.mp4</string>
			<key>describe</key>
			<string>莱因哈特可以向前挥动火箭重锤，射出一道火焰能量对任何被击中的敌人造成伤害

裂地猛击 终级技能。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>裂地猛击</string>
			<key>icon</key>
			<string>reinhardtAbilities4.png</string>
			<key>picture</key>
			<string>reinhardtPicture4.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Reinhardt/video-ability.00BuC.mp4</string>
			<key>describe</key>
			<string>莱因哈特用火箭重锤猛击地面，巨大的力道可以击倒并对正前方所有敌人造成伤害。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>天使之杖</string>
			<key>icon</key>
			<string>mercyAbilities0.png</string>
			<key>picture</key>
			<string>mercyPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Mercy/video-ability.0pwF6.mp4</string>
			<key>describe</key>
			<string>“天使”射出两根不同的光束聚焦于一名队友。持续的光束聚焦可以为目标队友恢复生命值或提高其造成的伤害。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>天使冲击枪</string>
			<key>icon</key>
			<string>mercyAbilities1.png</string>
			<key>picture</key>
			<string>mercyPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Mercy/video-ability.3VKs3.mp4</string>
			<key>describe</key>
			<string>“天使”用辅助武器射出短距离的子弹，用于紧急的自我防御。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>守护天使</string>
			<key>icon</key>
			<string>mercyAbilities2.png</string>
			<key>picture</key>
			<string>mercyPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Mercy/video-ability.3lqYe.mp4</string>
			<key>describe</key>
			<string>“天使”飞向一名目标队友，在危急的情况下为队友提供帮助。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>天使降临</string>
			<key>icon</key>
			<string>mercyAbilities3.png</string>
			<key>picture</key>
			<string>mercyPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Mercy/video-ability.2iOvA.mp4</string>
			<key>describe</key>
			<string>通过启动她的女武神作战服，“天使”可以降低从高处下落的速度。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>重生</string>
			<key>icon</key>
			<string>mercyAbilities4.png</string>
			<key>picture</key>
			<string>mercyPicture4.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Mercy/video-ability.1VzwD.mp4</string>
			<key>describe</key>
			<string>“天使”释放出恢复性能量，使附近所有倒下的队友复活，并为队友恢复全部生命值。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>光子发射器</string>
			<key>icon</key>
			<string>symmetraAbilities0.png</string>
			<key>picture</key>
			<string>symmetraPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/symmetra/video-ability.1HYbh.mp4</string>
			<key>describe</key>
			<string>“秩序之光”的武器可以射出短距离电磁能量，追踪一名附近的敌人造成持续伤害。光子发射器还可以在充能后，射出能量球对敌人造成更大的伤害。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>哨兵炮</string>
			<key>icon</key>
			<string>symmetraAbilities1.png</string>
			<key>picture</key>
			<string>symmetraPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/symmetra/video-ability.2StDi.mp4</string>
			<key>describe</key>
			<string>“秩序之光”可以部下迷你炮台，用减速粒子攻击范围内的敌人。“秩序之光”可以同时在战场上部下多个炮台。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>光子护盾</string>
			<key>icon</key>
			<string>symmetraAbilities2.png</string>
			<key>picture</key>
			<string>symmetraPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/symmetra/video-ability.2j8Jw.mp4</string>
			<key>describe</key>
			<string>“秩序之光”可以用高强度光束保护目标队友，吸收伤害。效果一直持续至队友阵亡。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>传送面板</string>
			<key>icon</key>
			<string>symmetraAbilities3.png</string>
			<key>picture</key>
			<string>symmetraPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/symmetra/video-ability.3H3cn.mp4</string>
			<key>describe</key>
			<string>“秩序之光”可以在队伍起始位置和她所处的当前位置部下传送面板。队友可以在两个面板之间瞬时传送，使其在被击败后可以立即重回战场。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>灭</string>
			<key>icon</key>
			<string>zenyattaAbilities0.png</string>
			<key>picture</key>
			<string>zenyattaPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/zenyatta/video-ability.1OGca.mp4</string>
			<key>describe</key>
			<string>禅雅塔可以射出一枚破坏能量球或在几秒的充能后，连续射出大量能量球。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>谐</string>
			<key>icon</key>
			<string>zenyattaAbilities1.png</string>
			<key>picture</key>
			<string>zenyattaPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/zenyatta/video-ability.2Be8w.mp4</string>
			<key>describe</key>
			<string>禅雅塔将一枚法球置于目标队友的肩膀。只要禅雅塔存活，法球就可以缓慢恢复目标的生命值。同一时间只能对一个队友施放治疗法球。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>乱</string>
			<key>icon</key>
			<string>zenyattaAbilities2.png</string>
			<key>picture</key>
			<string>zenyattaPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/zenyatta/video-ability.1DZbc.mp4</string>
			<key>describe</key>
			<string>将扰乱法球附着在一名敌人身上，提高其受到的所有伤害，效果一直持续到禅雅塔被杀死。同一时间只能对一名敌人施放扰乱法球。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>圣</string>
			<key>icon</key>
			<string>zenyattaAbilities3.png</string>
			<key>picture</key>
			<string>zenyattaPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/zenyatta/video-ability.3gtJX.mp4</string>
			<key>describe</key>
			<string>禅雅塔进入短时间的超凡状态。在超凡期间，禅雅塔无法使用技能或武器，但免疫伤害并且会为自己和附近队友恢复生命值。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>音速扩音器</string>
			<key>icon</key>
			<string>lucioAbilitiesIcon0.png</string>
			<key>picture</key>
			<string>lucioPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/lucio/video-ability1.mp4</string>
			<key>describe</key>
			<string>卢西奥可以用音速飞弹攻击他的敌人，或者用声波将其击退。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>互换</string>
			<key>icon</key>
			<string>lucioAbilitiesIcon1.png</string>
			<key>picture</key>
			<string>lucioPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/lucio/video-ability2.mp4</string>
			<key>describe</key>
			<string>卢西奥可以用音乐持续强化自己或周围的队友。他可以在两首歌之间切换：一首加速，另一首恢复生命值。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>强音</string>
			<key>icon</key>
			<string>lucioAbilitiesIcon2.png</string>
			<key>picture</key>
			<string>lucioPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/lucio/video-ability3.mp4</string>
			<key>describe</key>
			<string>卢西奥可以用扩音器加大音量，强化歌曲的效果。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>音障</string>
			<key>icon</key>
			<string>lucioAbilitiesIcon3.png</string>
			<key>picture</key>
			<string>lucioPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/lucio/video-ability4.mp4</string>
			<key>describe</key>
			<string>卢西奥用音速扩音器发出不断扩大的保护性声波，用护盾暂时保护自己和附近的盟友。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>黑寡妇之吻</string>
			<key>icon</key>
			<string>widowmakerAbilitiesIcon0.png</string>
			<key>picture</key>
			<string>widowmakerPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/widowmaker/video-ability.3YmYL.mp4</string>
			<key>describe</key>
			<string>“黑寡妇”的多功能狙击步枪是一种理想的远距离狙击武器。而当目标靠近后，这把武器还可以切换为全自动步枪模式。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>抓钩</string>
			<key>icon</key>
			<string>widowmakerAbilitiesIcon1.png</string>
			<key>picture</key>
			<string>widowmakerPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/widowmaker/video-ability.2TAhD.mp4</string>
			<key>describe</key>
			<string>“黑寡妇”可以向目标位置射出抓钩--当抓钩遇到可攀登表面时就会迅速回收，将“黑寡妇”拉向目标位置。这一技能可以让她纵览整个战场，躲避或包抄敌人。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>剧毒诡雷</string>
			<key>icon</key>
			<string>widowmakerAbilitiesIcon2.png</string>
			<key>picture</key>
			<string>widowmakerPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/widowmaker/video-ability.08Aan.mp4</string>
			<key>describe</key>
			<string>“黑寡妇”的剧毒诡雷可以附着在几乎任何表面并快速启动。当目标靠近诡雷的动感触发器范围之内时就会爆炸，对范围内所有敌人释放毒气。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>红外侦测</string>
			<key>icon</key>
			<string>widowmakerAbilitiesIcon3.png</string>
			<key>picture</key>
			<string>widowmakerPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/widowmaker/video-ability.1iRRt.mp4</string>
			<key>describe</key>
			<string>“黑寡妇”的红外护目镜可以让她和队友在一段时间内看透墙壁后方的敌人热能反应。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>风</string>
			<key>icon</key>
			<string>hanzoAbilitiesIcon0.png</string>
			<key>picture</key>
			<string>hanzoPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Hanzo/video-ability.2Zpqv.mp4</string>
			<key>describe</key>
			<string>半藏向视野内的一个目标射出箭矢。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>音</string>
			<key>icon</key>
			<string>hanzoAbilitiesIcon1.png</string>
			<key>picture</key>
			<string>hanzoPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Hanzo/video-ability.2P9Dd.mp4</string>
			<key>describe</key>
			<string>半藏射出一支带有声呐追踪装置的箭矢；在探测范围内的任何敌人都会被标记，便于追踪。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>散</string>
			<key>icon</key>
			<string>hanzoAbilitiesIcon2.png</string>
			<key>picture</key>
			<string>hanzoPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Hanzo/video-ability.3zvii.mp4</string>
			<key>describe</key>
			<string>半藏射出一支会爆炸出碎片的箭矢同时攻击多个目标，如果碎片击中墙面或物体则会反弹。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>竜</string>
			<key>icon</key>
			<string>hanzoAbilitiesIcon3.png</string>
			<key>picture</key>
			<string>hanzoPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Hanzo/video-ability.2UVQ6.mp4</string>
			<key>describe</key>
			<string>半藏召唤神龙之魂，穿透任何目标（包括墙壁）对一条直线上的所有敌人造成巨大伤害。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>铆钉枪</string>
			<key>icon</key>
			<string>torbjornAbilitiesIcon0.png</string>
			<key>picture</key>
			<string>torbjornPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Torbjorn/video-ability.1zC8h.mp4</string>
			<key>describe</key>
			<string>托比昂可以射出远距离铆钉，或在近距离射出大量融化金属。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>锻造锤</string>
			<key>icon</key>
			<string>torbjornAbilitiesIcon1.png</string>
			<key>picture</key>
			<string>torbjornPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Torbjorn/video-ability.2vs1K.mp4</string>
			<key>describe</key>
			<string>托比昂的多功能锻造锤可以用来进行建造、升级和修复炮台。必要时，也可以当做武器使用。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>部署炮台</string>
			<key>icon</key>
			<string>torbjornAbilitiesIcon2.png</string>
			<key>picture</key>
			<string>torbjornPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Torbjorn/video-ability.1Nqhb.mp4</string>
			<key>describe</key>
			<string>托比昂可以部署一台自动追踪敌人的自动火炮。他可以利用从死去敌人和队友身上找到的碎片修复炮台或进行升级，提高炮台生命值并为其添加第二门火炮枪管和一台火箭发射器。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>护甲包</string>
			<key>icon</key>
			<string>torbjornAbilitiesIcon3.png</string>
			<key>picture</key>
			<string>torbjornPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Torbjorn/video-ability.2w3k8.mp4</string>
			<key>describe</key>
			<string>托比昂可以扔出护甲包，他和队友都可以拾取用来吸收一定伤害。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>熔火核心</string>
			<key>icon</key>
			<string>torbjornAbilitiesIcon4.png</string>
			<key>picture</key>
			<string>torbjornPicture4.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Torbjorn/video-ability.31Akr.mp4</string>
			<key>describe</key>
			<string>使个人锻炉进入过热状态后，托比昂将大幅提高他的护甲和获得碎片的数量。攻击（包括建造和修理炮台）的速度也大幅加快。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>侦查模式</string>
			<key>icon</key>
			<string>bastionAbilitiesIcon0.png</string>
			<key>picture</key>
			<string>bastionPicture0.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Bastion/video-ability.0zoiQ.mp4</string>
			<key>describe</key>
			<string>在侦查模式下，“堡垒”的机动能力达到最高，并配有可以在中距离提供稳定连射的微型冲锋枪。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>哨卫模式</string>
			<key>icon</key>
			<string>bastionAbilitiesIcon1.png</string>
			<key>picture</key>
			<string>bastionPicture1.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Bastion/video-ability.4JoXF.mp4</string>
			<key>describe</key>
			<string>在哨卫模式下，“堡垒”可以变成一座固定炮台，在正前方生成护盾保护自己的同时利用一台加特林机枪向敌人倾泻子弹。机枪准星可以在多个目标之间“游走”，对中短距离敌人造成毁灭性的伤害。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>切换模式</string>
			<key>icon</key>
			<string>bastionAbilitiesIcon2.png</string>
			<key>picture</key>
			<string>bastionPicture2.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Bastion/video-ability.47Bdv.mp4</string>
			<key>describe</key>
			<string>“堡垒”可以在两种主要战斗模式之间切换，适应多变的战局。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>自我修复</string>
			<key>icon</key>
			<string>bastionAbilitiesIcon3.png</string>
			<key>picture</key>
			<string>bastionPicture3.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Bastion/video-ability.3iewg.mp4</string>
			<key>describe</key>
			<string>“堡垒”可以自我修复恢复生命值；在自我修复时无法移动或使用武器。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>坦克模式</string>
			<key>icon</key>
			<string>bastionAbilitiesIcon4.png</string>
			<key>picture</key>
			<string>bastionPicture4.jpg</string>
			<key>url</key>
			<string>http://overwatch.nos.netease.com/2/heroes/Bastion/video-ability.2ivoc.mp4</string>
			<key>describe</key>
			<string>在坦克模式下，“堡垒”可以延伸出履带并生成一台强大的远距离火炮。火炮的高爆弹药可以摧毁大范围内的敌人，但“堡垒”只能在该模式下维持一小段时间。</string>
		</dict>
	</array>
</array>
</plist>
